{% extends "layout.html" %} {% block body %} {% load static %}
<link rel="stylesheet" href="{% static 'static/css/home.css' %}" />

<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <h2>New Products :</h2>
  <div class="carousel-inner">
    {% for product in new_products|slice:":1" %}
    <div class="carousel-item active" onclick="goto({{product.id}})">
      <img
        src="{{product.image1.url}}"        
        alt="{{ product.description }}"

        class="d-block w-100 carousel-image"
      />
    </div>

    {% endfor %} {% for prod in new_products|slice:"1:3" %}
    <div class="carousel-item" onclick="goto({{prod.id}})">
      <img
        src="{{prod.image1.url}}"
        alt="{{ prod.description }}"
        class="d-block w-100 carousel-image"
      />
    </div>

    {% endfor %}
  </div>
  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<h2 class="section-title">Top Products :</h2>
<div class="card-container mb-5">
  <div class="row">
    {% for product in products %}
    <div
      class="col-sm-12 col-md-5 col-lg-4 my-4 mx-auto shadow-sm p-3 bg-white rounded d-flex flex-column"
    >
      <img
        class="card-img-top"
        src="{{ product.image1.url }}"
        alt="{{ product.description }}"
        style="width: 100%; height: 300px"
      />
      <div class="card-body" style="flex: 1">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div>
        <a href="/product/{{product.id}}" class="card-link btn btn-dark"
          >Product Page</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  const goto = (id) => window.location.assign("/product/" + id);
</script>

{% endblock %}
