{% extends "layout.html" %} {% block body %} {% load static %}
<link rel="stylesheet" href="{% static 'static/css/home.css' %}" />

<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->

  <div class="carousel-inner">
    {% for prod in new_products %}
    <div class="carousel-item active" onclick="goto({{prod.id}})">
      <img
        src="{{prod.image1.url}}"
        alt="Los Angeles"
        class="d-block w-100 carousel-image"
      />
    </div>

    {% endfor %}
  </div>
  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<h2 class="section-title">Top Products :</h2>
<div class="card-container">
  {% for product in products %}
  <div class="card">
    <img class="card-img-top" src="{{ product.image1.url }}" alt="Card image" />
    <div class="card-body">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.description}}</p>
      <a href="/product/{{product.id}}" class="card-link btn btn-dark">Product Page</a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  <ul class="pagination pagination-list">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

<script>


const goto =( id ) => window.location.assign("/product/" +id)


</script>

{% endblock %}
