<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>E-Commerce</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="javascript:void(0)">
          <i class="fa fa-bolt"></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Register</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" />
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://www.w3schools.com/images/w3lynx_200.png"
            alt="Los Angeles"
            class="d-block w-100 carousel-image"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.w3schools.com/images/w3lynx_200.png"
            alt="Chicago"
            class="d-block w-100 carousel-image"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.w3schools.com/images/w3lynx_200.png"
            alt="New York"
            class="d-block w-100 carousel-image"
          />
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <h2 class="section-title">Top Products :</h2>
    <div class="card-container">
      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="https://www.w3schools.com/images/w3lynx_200.png"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>

          <a href="#" class="card-link btn btn-dark">Card link</a>
          <a href="#" class="card-link btn btn-secondary">Another link</a>
        </div>
      </div>
    </div>

    <div class="pagination">
      <ul class="pagination pagination-list">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>

    <div class="footer">
      <h3>
        <a class="navbar-brand logo" href="javascript:void(0)">
          <i class="fa fa-bolt"></i>
        </a>
        Mal7aly
      </h3>
    </div>
  </body>
</html>
