{% extends "layout.html" %} {% block body %} {% load static %}
<link rel="stylesheet" href="{% static 'static/css/product.css' %}" />

    <div class="wrapper">
      <div class="container mt-5 mb-5">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 border-end">
              <div class="d-flex flex-column justify-content-center">
                <div class="main_image">
                  <img
                  src="{{ product.image1.url }}"
                    id="main_product_image"
                    width="350"
                  />
                </div>
                <div class="thumbnail_images">
                  <ul id="thumbnail">
                    <li>
                      <img
                        onclick="changeImage(this)"
                        src="{{ product.image2.url }}"                        width="70"
                      />
                    </li>
                    
                    <li>
                      <img
                        onclick="changeImage(this)"
                        src="{{ product.image3.url }}"                        width="70"
                      />
                    </li>
                    <li>
                      <img
                        onclick="changeImage(this)"
                        src="{{ product.image4.url }}"                        width="70"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <div
                class="p-3 right-side d-flex flex-column justify-space-between flex-1"
              >
              <div id="message-container">
                
              </div>
                <div class="d-flex justify-content-between align-items-center">
                 
                  <h3>{{product.name}}</h3>
                  <span class="heart"><i class="bx bx-heart"></i></span>
                </div>
                <div class="mt-2 pr-3 content">
                  <p>
                    {{product.description}}
                  </p>
                </div>
                <h3>${{product.price}}</h3>
                <div class="ratings d-flex flex-row align-items-center">
                  <div class="d-flex flex-row">
                    <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </div>
                  <span>441 reviews</span>
                </div>
                <div class="mt-5">
                  <span class="fw-bold">Color</span>
                  <div class="colors">
                    <ul id="marker">
                      <li id="marker-1"></li>
                      <li id="marker-2"></li>
                      <li id="marker-3"></li>
                      <li id="marker-4"></li>
                      <li id="marker-5"></li>
                    </ul>
                  </div>
                </div>
                <div>

                    
                      <div class="form-group my-3">
                        <label for="quantity">Quantity</label>
                        <input
                          type="number"
                          class="form-control"
                          id="quantity"
                          name="quantity"
                          value="1"
                        />

                </div>
                <div class="buttons d-flex flex-row mt-auto gap-3 bg-">
                  <button class="btn btn-outline-dark">Buy Now</button>
                  <button class="btn btn-dark" onclick="add_to_cart()">Add to Basket</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="comment-container">
          <div class="comment-header">
            <h3>{{ comments.length }} Comments</h3>
          </div>
          <div class="comment-body">
            <div class="comment-item row">
              <div
                class="col-1 comment-item-header d-flex flex-column justify-content-center align-items-center text-primary"
              >
                <div class="comment-item-image">
                  <img
                    src="https://lh6.googleusercontent.com/-owL3dxEdL7Q/AAAAAAAAAAI/AAAAAAAAAGo/KCp26fo7gnc/photo.jpg?sz=64"
                    width="50"
                    height="50"
                  />
                </div>
              </div>

              <div class="col-11 comment-item-body align-items-center">
                <div class="comment-item-content d-flex">
                  <div
                    class="comment-item-date d-flex text-muted w-100 align-items-center"
                  >
                    <div class="comment-item-name me-4">
                      <span class="text-primary fw-bold">John Doe</span>
                    </div>


                    <form action="{% url 'add_comment' product.id %}" method="post">
                      {% csrf_token %}

                          <div class="rating d-flex align-items-center rating-flex">
                            <div class="rate">
 
                              <input type="radio" id="star5" name="rating" value="5" checked/>
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1" />
                              <label for="star1" title="text">1 star</label>


                            </div>
                          </div>
                        </div>
                      </div>
                      <textarea
                        class="w-100 p-1"
                        name="comment"
                        placeholder="Add Comment"
                      ></textarea>
                      <button class="btn-dark P-2 text-1 btn" type="submit">ADD COMMENT</button>

                    </form>

             
              </div>
            </div>
          </div>
        </div>


        {% for comment in comments %}
        <div class="comment-container">
          <div class="comment-body">
            <div class="comment-item row">
              <div
                class="col-1 comment-item-header d-flex flex-column justify-content-center align-items-center text-primary"
              >
                <div class="comment-item-image">
                  <img
                    src="https://lh6.googleusercontent.com/-owL3dxEdL7Q/AAAAAAAAAAI/AAAAAAAAAGo/KCp26fo7gnc/photo.jpg?sz=64"
                    width="50"
                    height="50"
                  />
                </div>
              </div>

              <div class="col-11 comment-item-body align-items-center">
                <div class="comment-item-content d-flex">
                  <div class="comment-item-date d-flex text-muted w-100">
                    <div class="comment-item-name me-4">
                      <span class="text-primary fw-bold">{{comment.user.username}}</span>
                    </div>
                    <span>SUBMITTED AT <span  class="text-primary">
                      {{comment.date}}
                    </span><span class="px-2 text-warning fw-bold">

                      {{comment.rate}} Stars

                    </span>
                    </span>
                  </div>
                </div>
                <p>
                  {{comment.text}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      
      </div>
    </div>

  <script
    type="text/javascript"
    src="node_modules/mdbootstrap/js/jquery.min.js"
  >
  
</script>
  <script
    type="text/javascript"
    src="node_modules/mdbootstrap/js/popper.min.js"
  ></script>
  <script
    type="text/javascript"
    src="node_modules/mdbootstrap/js/bootstrap.min.js"
  ></script>
  <script
    type="text/javascript"
    src="node_modules/mdbootstrap/js/mdb.min.js"
  ></script>
  <script >
    function changeImage(element) {
      var main_prodcut_image = document.getElementById("main_product_image");
      main_prodcut_image.src = element.src;
    }


    const add_to_cart = () => {
      fetch("/cart/{{product.id}}", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
          body: JSON.stringify({quantity: document.getElementById("quantity").value})  
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          document.getElementById("message-container").innerHTML = "<div class='alert alert-success'>Product Added To The Cart </div>";
        }).catch((e) => console.log(e.message));
    }
  </script>
</body>
{% endblock %}
